# HPC Server Configuration

# Create environment
cd /beegfs/mm11333/repr-edu-recsys/
module load python3/intel/3.5.3
python3 -m virtualenv env
source env/bin/activate
pip install -r requirements.txt

# Run experiment
screen -S algo1
srun --time=48:00:00 --ntasks-per-node=1 --mem=64000 --pty /bin/bash
export PYTHONPATH=/beegfs/mm11333/repr-edu-recsys/
cd /beegfs/mm11333/repr-edu-recsys/
source ./env/bin/activate

# Port forwarding from my laptop to the server
ssh -L 7853:localhost:7853 mm11333@prince.hpc.nyu.edu

# Train / test splitting
python ./helpers/train_test_splitter.py --dataset 'coco' --method 'urandom' --percentage 0.80
python ./helpers/train_test_splitter.py --dataset 'coco' --method 'utime' --percentage 0.80
python ./helpers/train_test_splitter.py --dataset 'coco' --method 'uftime'

python ./helpers/train_test_splitter.py --dataset 'xuetang' --method 'urandom' --percentage 0.80
python ./helpers/train_test_splitter.py --dataset 'xuetang' --method 'utime' --percentage 0.80
python ./helpers/train_test_splitter.py --dataset 'xuetang' --method 'uftime'

python ./helpers/train_test_splitter.py --dataset 'ml1m' --method 'urandom' --percentage 0.80
python ./helpers/train_test_splitter.py --dataset 'ml1m' --method 'utime' --percentage 0.80
python ./helpers/train_test_splitter.py --dataset 'ml1m' --method 'uftime'

# Model running
srun --time=48:00:00 --ntasks-per-node=1 --mem=64000 --pty /bin/bash
export PYTHONPATH=/beegfs/mm11333/repr-edu-recsys/
cd /beegfs/mm11333/repr-edu-recsys/
source ./env/bin/activate

python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'random'
python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'toppop'
python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'bpr'
python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'neumf'
python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'userknn'
python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'itemknn'
python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'coupledcf'
python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'rp3beta'

datasets: coco, xuetang, ml1m
train-test splits: random, temporal per user, temporal fixed
models: random, toppop, bpr(pair), neumf(point), userknn, itemknn, coupledcf (content/hybrid), rp3beta
metriche: prec, rec, ndcg, hit, avg pop, div, nov, item cov, user cov

srun --time=48:00:00 --ntasks-per-node=1 --mem=64000 --pty /bin/bash
export PYTHONPATH=/beegfs/mm11333/repr-edu-recsys/
cd /beegfs/mm11333/repr-edu-recsys/
source ./env/bin/activate
python ./routines/run_model.py --dataset 'coco' --method 'uftime' --model 'random'
python ./routines/run_model.py --dataset 'coco' --method 'uftime' --model 'toppop'
python ./routines/run_model.py --dataset 'coco' --method 'uftime' --model 'bpr'
python ./routines/run_model.py --dataset 'coco' --method 'uftime' --model 'neumf'
python ./routines/run_model.py --dataset 'coco' --method 'uftime' --model 'userknn'
python ./routines/run_model.py --dataset 'coco' --method 'uftime' --model 'itemknn'
python ./routines/run_model.py --dataset 'coco' --method 'uftime' --model 'coupledcf'
python ./routines/run_model.py --dataset 'coco' --method 'uftime' --model 'rp3beta'

srun --time=48:00:00 --ntasks-per-node=1 --mem=64000 --pty /bin/bash
export PYTHONPATH=/beegfs/mm11333/repr-edu-recsys/
cd /beegfs/mm11333/repr-edu-recsys/
source ./env/bin/activate
python ./routines/run_model.py --dataset 'coco' --method 'utime' --model 'random'
python ./routines/run_model.py --dataset 'coco' --method 'utime' --model 'toppop'
python ./routines/run_model.py --dataset 'coco' --method 'utime' --model 'bpr'
python ./routines/run_model.py --dataset 'coco' --method 'utime' --model 'userknn'
python ./routines/run_model.py --dataset 'coco' --method 'utime' --model 'coupledcf'
python ./routines/run_model.py --dataset 'coco' --method 'utime' --model 'neumf'
python ./routines/run_model.py --dataset 'coco' --method 'utime' --model 'itemknn'


python ./routines/run_model.py --dataset 'xuetang' --method 'urandom' --model 'itemknncb'
python ./routines/run_model.py --dataset 'xuetang' --method 'utime' --model 'itemknncb'
python ./routines/run_model.py --dataset 'xuetang' --method 'uftime' --model 'itemknncb'
python ./routines/run_model.py --dataset 'ml1m' --method 'urandom' --model 'itemknncb'
python ./routines/run_model.py --dataset 'ml1m' --method 'utime' --model 'itemknncb'
python ./routines/run_model.py --dataset 'ml1m' --method 'uftime' --model 'itemknncb'

